<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Device Log Analyser</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        var analysis = {{ analysis|safe }};

        google.charts.load('current', {'packages':['timeline']});
        google.charts.setOnLoadCallback(drawChart);

        function make_ontime_row(startTime, endTime){
            startTime = new Date(startTime);
            endTime = new Date(endTime);

            return ["OnTime", startTime, endTime]
        }
        function make_error_row(time){
            return ["Errors", new Date(time), new Date(time)]
        }
        function drawChart() {
            var container = document.getElementById('timeline');
            var chart = new google.visualization.Timeline(container);
            var dataTable = new google.visualization.DataTable();

            dataTable.addColumn({ type: 'string', id: 'Event' });
            dataTable.addColumn({ type: 'date', id: 'Start' });
            dataTable.addColumn({ type: 'date', id: 'End' });

            let rows = [];
            const onoff_records = analysis.device_onoff_records;
            for(let i in onoff_records){
                rows.push(make_ontime_row(onoff_records[i].start_time, onoff_records[i].end_time));
            }
            const error_records = analysis.device_error_records;
            for(let i in error_records){
                rows.push(make_error_row(error_records[i]));
            }

            dataTable.addRows(rows);

            var options = {
                height: 300,
                hAxis: { title: '', textPosition: 'none', viewWindow: {
                        min: new Date(+analysis.start_time),
                        max: new Date(+analysis.end_time)
                    } 
                }
            };

            chart.draw(dataTable, options);
        }

        window.addEventListener('resize', function () {
            console.log("resizing")
            google.charts.load('current', {'packages':['timeline']});
            google.charts.setOnLoadCallback(drawChart);
        });
    </script>
</head>
<body>
    <div class="container mt-5 col 8">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <p id="total"> </p>
            </div>
            <div class="col-md-8 mx-auto">
                <p id="total"> </p>
                <div id="timeline"></div>
            </div>
        </div>
        <div class="row">
            <table class="table col-md-8 mx-auto">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Error Times</th>
                  </tr>
                </thead>
                <tbody>
                    {% for record in errors %}
                        <tr><td>{{ record }}</td></tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
    <script type="text/javascript">
        document.getElementById('total').textContent = "Total of device on time: " + analysis.total_of_on_time/60/1000 + " minutes";
    </script>
</body>
</html>
